@use "sass:math";

// 默认设计稿的宽度
$designWidth: 1920;
// 默认设计稿的高度
$designHeight: 1080;
// 文字超出隐藏，默认为单行超出隐藏，可设置多行
@mixin text-overflow($line: 1, $fixed-width: true) {
  @if $line == 1 and $fixed-width == true {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
  }
}

// 定位居中，默认水平居中，可选择垂直居中，或者水平垂直都居中
@mixin position-center($type: x) {
  position: absolute;

  @if $type == x {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $type == y {
    top: 50%;
    transform: translateY(-50%);
  }

  @if $type == xy {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

// 文字两端对齐
%justify-align {
  text-align: justify;
  text-align-last: justify;
}

// 清除浮动
%clearfix {
  zoom: 1;

  &::before,
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}


// px 转为 vw 的函数
@function vw($px) {
  @return math.div($px, $designWidth) * 100vw;
}

// px 转为 vh 的函数
@function vh($px) {
  @return math.div($px, $designHeight) * 100vh;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin position-center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/**
 *默认flex样式水平，垂直居中
 *	1、$flex-wrap: null -- 清空所有对齐样式
 *	2、$direction:... -- 水平排/垂直排
 *	3、...
 */
@mixin flex-center($direction:row,$justify:center,$align:center,$flex-wrap: null) {
  display: flex;
  @if ($flex-wrap != null) {
    flex-wrap: $flex-wrap;
  }
  @if ($direction!=null) {
    flex-direction: $direction;
  }
  @if ($justify!=null) {
    justify-content: $justify;
  }
  @if ($align!=null) {
    align-items: $align;
  }
}
/*绝对定位  参数顺序：上右下左*/
@mixin positionAbsolute($top:null,$right:null,$bottom:null,$left:null) {
  position: absolute;
  @if ($left!="" & & $left!=null) {
    left: $left;
  }
  @if ($right!="" & & $right!=null) {
    right: $right;
  }
  @if ($top!="" & & $top!=null) {
    top: $top;
  }
  @if ($bottom!="" & & $bottom!=null) {
    bottom: $bottom;
  }
}
/* 圆形盒子 */
@mixin circle($size: 11px,$bg: #fff) {
  border-radius: 50%;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  background: $bg;
}
/**
 *定义滚动条样式 圆角和阴影不需要则传入null
 *	1、$outColor -- 滚动条颜色
 *	2、$innerColor -- 滑块颜色
 *	3、$height -- 滚动条宽高、圆角
 *	4、$width
 *	5、$radius
 *	6、$shadow -- 阴影
*/
@mixin scrollBar($width:10px,$height:10px,$outColor:$bgColor,$innerColor:$bgGrey,$radius:5px,$shadow:null) {
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
    background-color: $outColor;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  &::-webkit-scrollbar-track {
    @if ($shadow!=null) {
      -webkit-box-shadow: $shadow;
    }
    @if ($radius!=null) {
      border-radius: $radius;
    }
    background-color: $outColor;
  }

  /*定义滑块 内阴影+圆角*/
  &::-webkit-scrollbar-thumb {
    @if ($shadow!=null) {
      -webkit-box-shadow: $shadow;
    }
    @if ($radius!=null) {
      border-radius: $radius;
    }
    background-color: $innerColor;
    border: 1px solid $innerColor;
  }
}
